# This is a template for the `.env` file that is used as part of local development.
# You can copy this file, rename it to `.env` and fill in the missing values,
# then delete this header.
###############################################################################

# This file should contain all the secrets required by *development* (local) application.
# This file is ignored by git by default to avoid accidentally exposing secrets in your repository.

SECRET_KEY='django-insecure-QUI7AQNyfMEarseG1DaS3NmCerzV6FhiKx8OYw4R'
# host should be "localhost" for native development or "db" for docker-based development
DATABASE_URL='postgresql://postgres:postgres@db:5432/dfaheyblog'
# host should be "localhost" for native development or "redis" for docker-based development
REDIS_URL='redis://redis:6379'

GOOGLE_ANALYTICS_ID=''
SENTRY_DSN=''

SIMPLE_JWT_SIGNING_KEY='django-insecure-YzKBBly5wjxzG2jFORNFLWZ0rgC4e7xAIq0QF1iTAFoeG9WjAZj6fa4uBqmn'
CORS_ALLOWED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

# public media storage config
USE_S3_MEDIA=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# You can uncomment these settings to use a different email backend in settings.py.
# Depending on your selected backend, you will probably need to add additional settings / environment variables

# DEFAULT_FROM_EMAIL="domfahey@gmail.com"
# SERVER_EMAIL="noreply@dominicfahey.com"

# EMAIL_BACKEND="anymail.backends.mailgun.EmailBackend"
# MAILGUN_API_KEY="key-***"
# MAILGUN_SENDER_DOMAIN="example.com"

CONVERT_KIT_API_KEY=""
CONVERT_KIT_FORM_ID=""

HEALTH_CHECK_TOKENS=

AI_CHAT_DEFAULT_LLM_MODEL="gpt-4o"
AI_CHAT_OPENAI_API_KEY="sk-***"
